.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

@font-face {
  font-family: Eviolite;
  src: url(../../../../assets/EvioliteBRegular-Oj0P.ttf);
}
@font-face {
  font-family: PokemonGB;
  src: url(../../../../assets/PokemonGb-RAeo.ttf);
}

@font-face {
  font-family: Unovian;
  src: url(../../../../assets/Pokemon_Unovian_Regular.ttf);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: inherit;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

/* body {
  display: flex;
  flex-flow: column reverse;
  place-content: center;
  text-align: center;
} */

#root {
  place-content: center;
}

#Border {
  scale: 70%;
  display: flex;
  position: absolute;
  place-self: center;
  justify-content: center;
  transform: translate(50%);
  /* top: 10%; */
  right: 50%;
  /* margin: 3em; */
  height: fit-content;
  width: fit-content;
  padding: 1.5em;
  background-image: radial-gradient(
    rgb(51, 69, 70),
    rgb(72, 139, 141),
    rgb(123, 201, 204)
  );
  border: outset 3px black;
  border-radius: 2em;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.5);
}
#App {
  display: grid;
  position: relative;
  padding: 1em;
  flex-flow: column wrap;
  justify-self: center;
  justify-content: center;
  border: inset rgb(70, 119, 122) 1em;
  background-image: linear-gradient(
    33deg,
    rgb(212, 240, 241),
    rgb(131, 151, 151),
    rgb(53, 82, 99)
  );
  border-radius: 1.5rem;
  max-width: 40em;
  height: 60em;
  font-family: Eviolite;
  box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.5) inset;
}
#dexBody {
  display: grid;
  background-color: transparent;
  background-image: linear-gradient(
    45deg,
    rgba(40, 48, 51, 0.5),
    rgb(53, 90, 107)
  );
  border: solid rgb(8, 34, 34) 4px;
  justify-content: center;
  box-shadow: 0em 0em 2em rgb(174, 243, 255) inset;
  text-shadow: 0.4em 0.1em 0.2em rgba(0, 32, 100, 0.295);
}

#dexSideBoard {
  display: flex;
  flex-flow: row-reverse;
  justify-self: flex-end;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

#speaker {
  height: fit-content;
  width: 6em;
  border: outset rgb(44, 75, 77) 0.3em;
  border-radius: 0.5em;
  margin: 0.5em;
  background-image: linear-gradient(
    45deg,
    rgb(89, 113, 128),
    rgb(46, 70, 83),
    rgb(74, 109, 129)
  );
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
}

input {
  font-family: PokemonGB;
  text-align: center;
  margin: 0.75em;
  background-color: rgba(133, 192, 189, 0.788);
  text-shadow: 0.4em 0.1em 0.2em rgba(0, 32, 100, 0.295);
  background-image: url(../../../../assets/pokeball-svg.png);
  background-size: 5%;
  background-repeat: no-repeat no-repeat;
  background-position: left;
}

#inputBtns {
  display: flex;
  justify-self: center;
  padding-bottom: 0.5em;
}
#inputBtns :hover {
  display: flex;
  justify-self: center;
  box-shadow: 0em 0em 2em rgb(158, 252, 255);
}

#inputRandom {
  font-family: PokemonGB;
  color: rgb(103, 255, 255);
  background-color: cornflowerblue;
  border: solid 1px teal;
  border-radius: 1em;
  box-shadow: 0em 0em 1em rgb(0, 190, 190);
  box-shadow: 0em 0em 2em rgb(0, 190, 190, 0.5);
}

#inputReset {
  font-family: PokemonGB;
  color: rgb(103, 255, 255);
  background-color: cornflowerblue;
  border: solid 1px teal;
  border-radius: 1em;
  box-shadow: 0em 0em 1em rgb(0, 190, 190);
  box-shadow: 0em 0em 2em rgb(0, 190, 190, 0.5);
}

#mainHeader {
  font-family: Eviolite;
  /* font-family: Unovian; */
  font-weight: 100;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 3em;
  color: rgb(153, 252, 255);
  text-shadow: 0em 0em 1em rgb(188, 253, 255);
  overflow: hidden;
  border-right: 0.15em solid inherit;
  white-space: nowrap;
  letter-spacing: 0.15em;
  /* animation: typing 1.5s steps(30, end), blink-caret 0.75s step-end infinite; */
}

#mainScreenEmpty {
  width: 30em;
  height: 30em;
  background-image: linear-gradient(
    50deg,
    rgba(178, 202, 200, 0.5),
    rgba(151, 196, 207, 0.5),
    rgba(68, 195, 199, 0.5)
  );
  transition: background-image 2s;
}
#mainScreen {
  max-width: 30em;
  height: 30em;
  background-image: linear-gradient(
    50deg,
    rgb(224, 255, 252),
    rgb(188, 242, 255),
    rgb(92, 250, 255)
  );
  /* animation: fade 0.5s steps(20, end); */
}

/* #searchLabel {
    text-align: center;
    color: lightseagreen;
    text-shadow: 0.1em 0.1em 0.1em black;
  } */

#searchBtn {
  font-family: Eviolite;
  font-size: large;
  font-weight: 900;
  color: rgb(253, 183, 183);
  background-color: rgb(139, 0, 0);
  border-radius: 3em;
  width: 5em;
  height: 5em;
  box-shadow: 0em 0em 2em red;
  opacity: 100%;
  transition: box-shadow 0.5s, background-color 0.5s, opacity 0.5s,
    background-image 0.5s;
  background-image: radial-gradient(
    rgb(255, 224, 224, 0.65),
    rgb(255, 188, 188, 0.5),
    rgb(255, 92, 92, 0.35)
  );
}

#searchBtn:hover {
  background-color: rgb(255, 151, 151);
  box-shadow: 0em 0em 3em rgb(255, 92, 92);
  opacity: 90%;
  background-image: radial-gradient(
    rgb(255, 224, 224),
    rgb(255, 188, 188, 0.5),
    rgb(255, 92, 92, 0.35)
  );
}

@media screen and (max-width: 600px) {
  #root {
    width: auto;
    /* height: auto; */
  }
  #Border {
    width: 100%;
    height: 100%;
    /* position: unset; */
    transform: translateX(71.5%) translateY(-40%) scale(80%);
    padding: unset;
    /* border: unset; */
    /* right: unset; */
    /* margin: unset; */
    place-self: center;
  }
  #App {
    /* transform: unset; */
    /* right: unset; */
  }
  #dexSideBoard {
    height: auto;
    padding-top: 0.75em;
    padding-bottom: 0.2em;
    align-items: center;
  }
  #dexBody {
    height: 95%;
  }
}
